@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,500;0,700;1,400;1,500&family=Noto+Sans:ital,wght@0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(255, 0, 111);
}

.heading {
    text-align: center;
    margin-top: 2rem;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-direction: column;
    row-gap: 3rem;

}

#input {
    width: 40%;
    padding: 1rem;
    margin-top: 2rem;
    font-size: x-large;
    background-color: rgb(255, 255, 255);
}

button{
    padding: 0.5rem;
    font-size: x-large;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    border-radius: 00.8rem;
    border:1px solid black;
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
}

#output {
    font-size: large;
    font-weight: bolder;
}


footer{
    margin-top: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    padding-inline-start: 0px;
    justify-content: center;
}
footer ul li{
    padding: 1rem;

}
 a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}